rules_version = '2';
service firebase.storage {
    match /b/{bucket}/o {
        function isAuth() {
            return request.auth != null;
        }

        function isExtensionValid(image) {
            let type = image.contentType;

            return type in ["image/png", "image/jpg", "image/jpeg"];
        }

        match /users/{userId}/listings/{listingId} {
            allow read, delete: if isAuth();

            allow create, update: if isAuth() && isExtensionValid(request.resource);
        }
    }
}